clearbooks-rest/Service References/ClearBooksService/Accounting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Accounting" targetNamespace="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1">
      <xsd:complexType name="PaymentInvoice">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
        </xsd:all>
        <xsd:attribute default="0" name="amount" type="xsd:double" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPaymentInvoice">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:PaymentInvoice" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AllocateQuery">
        <xsd:all>
          <xsd:element minOccurs="0" name="invoices" type="tns:ArrayOfPaymentInvoice" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="paymentId" type="xsd:int" />
          <xsd:element name="entityId" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="allocatePayment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="query" type="tns:AllocateQuery" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ResponseStatus">
        <xsd:all>
          <xsd:element name="success" type="xsd:boolean" />
        </xsd:all>
        <xsd:attribute default="Test" name="msg" type="xsd:string" use="optional" />
      </xsd:complexType>
      <xsd:element name="allocatePaymentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allocatePaymentResult" type="tns:ResponseStatus" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AccountCodeRequest">
        <xsd:all>
          <xsd:element name="heading_id" type="xsd:int" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:all>
        <xsd:attribute name="default_vat_rate" type="xsd:string" use="optional" />
        <xsd:attribute default="0" name="show_sales" type="xsd:int" use="optional" />
        <xsd:attribute default="0" name="show_purchases" type="xsd:int" use="optional" />
        <xsd:attribute default="0" name="show_budget" type="xsd:int" use="optional" />
      </xsd:complexType>
      <xsd:element name="createAccountCode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="code" type="tns:AccountCodeRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AccountCodeResult">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="createAccountCodeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createAccountCodeResult" type="tns:AccountCodeResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Bank_BankAccount">
        <xsd:all>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="accountNumber" type="xsd:string" />
          <xsd:element name="sortCode" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="createBankAccount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bankAccount" type="tns:Bank_BankAccount" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createBankAccountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createBankAccountResult" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="BankStatementLine">
        <xsd:all>
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="date" type="xsd:string" />
          <xsd:element name="amount" type="xsd:double" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBankStatementLine">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:BankStatementLine" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addBankStatementLines">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bankAccount" type="xsd:string" />
            <xsd:element name="statementName" type="xsd:string" />
            <xsd:element name="statementLines" type="tns:ArrayOfBankStatementLine" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EntityExtra">
        <xsd:all />
        <xsd:attribute default="0" name="default_account_code" type="xsd:int" use="optional" />
        <xsd:attribute default="0.00:Out" name="default_vat_rate" type="xsd:string" use="optional" />
        <xsd:attribute default="30" name="default_credit_terms" type="xsd:int" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="BankAccount">
        <xsd:all>
          <xsd:element name="bankName" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="sortcode" type="xsd:string" />
          <xsd:element name="accountNumber" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Entity">
        <xsd:all>
          <xsd:element minOccurs="0" name="supplier" type="tns:EntityExtra" />
          <xsd:element minOccurs="0" name="customer" type="tns:EntityExtra" />
          <xsd:element name="bankAccount" type="tns:BankAccount" />
          <xsd:element name="company_name" type="xsd:string" />
          <xsd:element name="contact_name" type="xsd:string" />
          <xsd:element name="address1" type="xsd:string" />
          <xsd:element name="town" type="xsd:string" />
          <xsd:element name="county" type="xsd:string" />
          <xsd:element name="postcode" type="xsd:string" />
          <xsd:element name="email" type="xsd:string" />
          <xsd:element name="phone1" type="xsd:string" />
        </xsd:all>
        <xsd:attribute default="0" name="id" type="xsd:int" use="optional" />
        <xsd:attribute default="GB" name="country" type="xsd:string" use="optional" />
        <xsd:attribute name="building" type="xsd:string" use="optional" />
        <xsd:attribute name="address2" type="xsd:string" use="optional" />
        <xsd:attribute name="phone2" type="xsd:string" use="optional" />
        <xsd:attribute name="fax" type="xsd:string" use="optional" />
        <xsd:attribute name="website" type="xsd:string" use="optional" />
        <xsd:attribute name="date_modified" type="xsd:dateTime" use="optional" />
        <xsd:attribute name="external_id" type="xsd:string" use="optional" />
        <xsd:attribute name="vat_number" type="xsd:string" use="optional" />
        <xsd:attribute name="company_number" type="xsd:string" use="optional" />
        <xsd:attribute name="statement_url" type="xsd:string" use="optional" />
      </xsd:complexType>
      <xsd:element name="createEntity">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="entity" type="tns:Entity" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createEntityResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createEntityResult" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Item">
        <xsd:all>
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="unitPrice" type="xsd:double" />
          <xsd:element name="type" type="xsd:int" />
        </xsd:all>
        <xsd:attribute name="vat" type="xsd:double" use="optional" />
        <xsd:attribute default="1" name="quantity" type="xsd:double" use="optional" />
        <xsd:attribute default="0" name="vatRate" type="xsd:string" use="optional" />
        <xsd:attribute default="0" name="project" type="xsd:int" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="ArrayOfItem">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="item" type="tns:Item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Invoice">
        <xsd:all>
          <xsd:element minOccurs="0" name="items" type="tns:ArrayOfItem" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="entityId" type="xsd:int" />
          <xsd:element name="dateCreated" type="xsd:dateTime" />
          <xsd:element name="type" type="xsd:string" />
        </xsd:all>
        <xsd:attribute default="0" name="invoice_id" type="xsd:int" use="optional" />
        <xsd:attribute name="invoice_prefix" type="xsd:string" use="optional" />
        <xsd:attribute default="0" name="invoiceNumber" type="xsd:int" use="optional" />
        <xsd:attribute name="reference" type="xsd:string" use="optional" />
        <xsd:attribute name="dateDue" type="xsd:dateTime" use="optional" />
        <xsd:attribute name="dateAccrual" type="xsd:dateTime" use="optional" />
        <xsd:attribute default="0" name="creditTerms" type="xsd:int" use="optional" />
        <xsd:attribute default="0" name="bankPaymentId" type="xsd:int" use="optional" />
        <xsd:attribute default="0" name="project" type="xsd:int" use="optional" />
        <xsd:attribute name="external_id" type="xsd:string" use="optional" />
        <xsd:attribute name="status" type="xsd:string" use="optional" />
        <xsd:attribute name="statementPage" type="xsd:string" use="optional" />
        <xsd:attribute default="1" name="themeId" type="xsd:int" use="optional" />
        <xsd:attribute name="vatTreatment" type="xsd:string" use="optional" />
        <xsd:attribute name="multicurrency" type="xsd:int" use="optional" />
        <xsd:attribute default="0" name="fxrate" type="xsd:double" use="optional" />
        <xsd:attribute default="0" name="gross" type="xsd:double" use="optional" />
        <xsd:attribute default="0" name="net" type="xsd:double" use="optional" />
        <xsd:attribute default="0" name="vat" type="xsd:double" use="optional" />
        <xsd:attribute default="0" name="paid" type="xsd:double" use="optional" />
        <xsd:attribute default="0" name="balance" type="xsd:double" use="optional" />
      </xsd:complexType>
      <xsd:element name="createInvoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="invoice" type="tns:Invoice" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="InvoiceReturn">
        <xsd:all>
          <xsd:element name="due" type="xsd:double" />
          <xsd:element name="invoice_id" type="xsd:int" />
          <xsd:element name="invoice_prefix" type="xsd:string" />
          <xsd:element name="invoice_number" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="createInvoiceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createInvoiceResult" type="tns:InvoiceReturn" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfInvoice">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Invoice" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="createInvoices">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="invoices" type="tns:ArrayOfInvoice" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfInvoiceReturn">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:InvoiceReturn" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="createInvoicesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createInvoicesResult" type="tns:ArrayOfInvoiceReturn" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="JournalLedgerItem">
        <xsd:all>
          <xsd:element name="account" type="xsd:int" />
          <xsd:element name="amount" type="xsd:double" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfJournalLedgerItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:JournalLedgerItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Journal">
        <xsd:all>
          <xsd:element minOccurs="0" name="ledger" type="tns:ArrayOfJournalLedgerItem" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="accountingDate" type="xsd:string" />
        </xsd:all>
        <xsd:attribute default="0" name="project" type="xsd:int" use="optional" />
        <xsd:attribute default="0" name="entity" type="xsd:int" use="optional" />
      </xsd:complexType>
      <xsd:element name="createJournal">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="project" type="tns:Journal" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="JournalReturn">
        <xsd:all>
          <xsd:element name="journal_id" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="createJournalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createJournalResult" type="tns:JournalReturn" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Payment">
        <xsd:all>
          <xsd:element name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="invoices" type="tns:ArrayOfPaymentInvoice" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="project" type="xsd:int" />
          <xsd:element name="accountingDate" type="xsd:dateTime" />
          <xsd:element name="amount" type="xsd:double" />
          <xsd:element name="entityId" type="xsd:int" />
          <xsd:element name="paymentMethod" type="xsd:int" />
          <xsd:element name="bankAccount" type="xsd:string" />
        </xsd:all>
        <xsd:attribute default="0" name="fxRate" type="xsd:double" use="optional" />
        <xsd:attribute default="0" name="bsAccount" type="xsd:int" use="optional" />
      </xsd:complexType>
      <xsd:element name="createPayment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="payment" type="tns:Payment" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="PaymentReturn">
        <xsd:all>
          <xsd:element name="payment_id" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="createPaymentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createPaymentResult" type="tns:PaymentReturn" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfPayment">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Payment" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="createPayments">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="payments" type="tns:ArrayOfPayment" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createPaymentsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createPaymentsResult" type="tns:PaymentReturn" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Project">
        <xsd:all>
          <xsd:element name="projectName" type="xsd:string" />
          <xsd:element name="status" type="xsd:string" />
        </xsd:all>
        <xsd:attribute name="description" type="xsd:string" use="optional" />
        <xsd:attribute default="0" name="id" type="xsd:int" use="optional" />
      </xsd:complexType>
      <xsd:element name="createProject">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="project" type="tns:Project" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ProjectReturn">
        <xsd:all>
          <xsd:element name="project_id" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="createProjectResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createProjectResult" type="tns:ProjectReturn" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteEntity">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="entityId" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteEntityResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deleteEntityResult" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteJournal">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="journalId" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteJournalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deleteJournalResult" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ExchangeRateRequest">
        <xsd:all>
          <xsd:element name="targetCurrency" type="xsd:string" />
        </xsd:all>
        <xsd:attribute default="GBP" name="baseCurrency" type="xsd:string" use="optional" />
        <xsd:attribute name="date" type="xsd:dateTime" use="optional" />
      </xsd:complexType>
      <xsd:element name="getExchangeRate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="exchangeRateRequest" type="tns:ExchangeRateRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExchangeRateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getExchangeRateResult" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEntityIdFromExternalId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="externalId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEntityIdFromExternalIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getEntityIdFromExternalIdResult" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEntityOutstandingBalance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="entityId" type="xsd:int" />
            <xsd:element name="type" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EntityOutstandingBalance">
        <xsd:all>
          <xsd:element name="outstanding" type="xsd:double" />
          <xsd:element name="overdue" type="xsd:double" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="getEntityOutstandingBalanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getEntityOutstandingBalanceResult" type="tns:EntityOutstandingBalance" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getInvoiceIdFromInvoiceNumber">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="type" type="xsd:string" />
            <xsd:element name="invoicePrefix" type="xsd:string" />
            <xsd:element name="invoiceNumber" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getInvoiceIdFromInvoiceNumberResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getInvoiceIdFromInvoiceNumberResult" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPaymentIdFromExternalId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="externalId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPaymentIdFromExternalIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getPaymentIdFromExternalIdResult" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listAccountCodeHeadings">
        <xsd:complexType />
      </xsd:element>
      <xsd:complexType name="AccountCodeHeading">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="heading_name" type="xsd:string" />
          <xsd:element name="account_group" type="xsd:int" />
          <xsd:element name="show_sales" type="xsd:int" />
          <xsd:element name="show_purchases" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAccountCodeHeading">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:AccountCodeHeading" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="listAccountCodeHeadingsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="listAccountCodeHeadingsResult" type="tns:ArrayOfAccountCodeHeading" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listAccountCodes">
        <xsd:complexType />
      </xsd:element>
      <xsd:complexType name="AccountCode">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="account_name" type="xsd:string" />
          <xsd:element name="group_name" type="xsd:string" />
          <xsd:element name="default_vat_rate" type="xsd:string" />
          <xsd:element name="show_sales" type="xsd:boolean" />
          <xsd:element name="show_purchases" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAccountCode">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:AccountCode" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="listAccountCodesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="listAccountCodesResult" type="tns:ArrayOfAccountCode" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listBankAccounts">
        <xsd:complexType />
      </xsd:element>
      <xsd:complexType name="BankAccountListItem">
        <xsd:all>
          <xsd:element name="account_type" type="xsd:int" />
          <xsd:element name="balance" type="xsd:double" />
          <xsd:element name="bank_name" type="xsd:string" />
          <xsd:element name="currency" type="xsd:int" />
          <xsd:element name="gl_account_code" type="xsd:string" />
          <xsd:element name="id" type="xsd:int" />
        </xsd:all>
        <xsd:attribute name="last_date" type="xsd:dateTime" use="optional" />
        <xsd:attribute name="total_mc" type="xsd:double" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBankAccountListItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:BankAccountListItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListBankAccountsReturn">
        <xsd:all>
          <xsd:element minOccurs="0" name="bankAccounts" type="tns:ArrayOfBankAccountListItem" />
          <xsd:element name="total" type="xsd:double" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="listBankAccountsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="listBankAccountsResult" type="tns:ListBankAccountsReturn" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listCurrencies">
        <xsd:complexType />
      </xsd:element>
      <xsd:complexType name="Currency">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="code" type="xsd:string" />
          <xsd:element name="symbol" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCurrency">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Currency" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="listCurrenciesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="listCurrenciesResult" type="tns:ArrayOfCurrency" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfInt">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EntityQuery">
        <xsd:all>
          <xsd:element minOccurs="0" name="id" type="tns:ArrayOfInt" />
        </xsd:all>
        <xsd:attribute name="companyName" type="xsd:string" use="optional" />
        <xsd:attribute name="type" type="xsd:string" use="optional" />
        <xsd:attribute default="0" name="offset" type="xsd:int" use="optional" />
        <xsd:attribute name="modifiedSince" type="xsd:dateTime" use="optional" />
      </xsd:complexType>
      <xsd:element name="listEntities">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="query" nillable="true" type="tns:EntityQuery" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfEntity">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Entity" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="listEntitiesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="listEntitiesResult" type="tns:ArrayOfEntity" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="InvoiceQuery">
        <xsd:all>
          <xsd:element minOccurs="0" name="id" type="tns:ArrayOfInt" />
          <xsd:element minOccurs="0" name="entityId" type="tns:ArrayOfInt" />
          <xsd:element name="ledger" type="xsd:string" />
        </xsd:all>
        <xsd:attribute name="status" type="xsd:string" use="optional" />
        <xsd:attribute default="0" name="offset" type="xsd:int" use="optional" />
        <xsd:attribute name="modifiedSince" type="xsd:dateTime" use="optional" />
      </xsd:complexType>
      <xsd:element name="listInvoices">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="query" nillable="true" type="tns:InvoiceQuery" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listInvoicesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="listInvoicesResult" type="tns:ArrayOfInvoice" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listOutstandingBalances">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="type" type="xsd:string" />
            <xsd:element name="limit" nillable="true" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ListOutstandingBalancesReturn">
        <xsd:all>
          <xsd:element name="entity" type="xsd:int" />
          <xsd:element name="balance" type="xsd:double" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfListOutstandingBalancesReturn">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ListOutstandingBalancesReturn" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="listOutstandingBalancesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="listOutstandingBalancesResult" type="tns:ArrayOfListOutstandingBalancesReturn" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listProjects">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="offset" nillable="true" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfProject">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Project" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="listProjectsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="listProjectsResult" type="tns:ArrayOfProject" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listThemes">
        <xsd:complexType />
      </xsd:element>
      <xsd:complexType name="Theme">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTheme">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Theme" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="listThemesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="listThemesResult" type="tns:ArrayOfTheme" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateAccountCode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="codeId" type="xsd:int" />
            <xsd:element name="code" type="tns:AccountCodeRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateAccountCodeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="updateAccountCodeResult" type="tns:AccountCodeResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateEntity">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="entityId" type="xsd:int" />
            <xsd:element name="entity" type="tns:Entity" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateEntityResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="updateEntityResult" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateProject">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="projectId" type="xsd:int" />
            <xsd:element name="project" type="tns:Project" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateProjectResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="updateProjectResult" type="tns:ProjectReturn" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="InvoiceRef">
        <xsd:all>
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="id" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="voidInvoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="invoice" type="tns:InvoiceRef" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="voidInvoiceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="voidInvoiceResult" type="tns:ResponseStatus" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RemovePayment">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="type" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="voidPayment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="payment" type="tns:RemovePayment" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="voidPaymentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="voidPaymentResult" type="tns:ResponseStatus" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CreditQuery">
        <xsd:all>
          <xsd:element name="dateCreated" type="xsd:dateTime" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="ledger" type="xsd:string" />
          <xsd:element name="accountCode" type="xsd:string" />
          <xsd:element name="id" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="writeOff">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="query" type="tns:CreditQuery" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CreditResponseStatus">
        <xsd:all />
        <xsd:attribute default="0" name="id" type="xsd:int" use="optional" />
        <xsd:attribute default="Fail" name="msg" type="xsd:string" use="optional" />
      </xsd:complexType>
      <xsd:element name="writeOffResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="writeOffResult" type="tns:CreditResponseStatus" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CreditPartialQuery">
        <xsd:all>
          <xsd:element name="invoiceId" type="xsd:int" />
          <xsd:element name="creditId" type="xsd:int" />
          <xsd:element name="amountToAllocate" type="xsd:double" />
          <xsd:element name="ledger" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="writeOffPartial">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="query" type="tns:CreditPartialQuery" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="writeOffPartialResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="writeOffPartialResult" type="tns:CreditResponseStatus" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="authenticate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="apiKey" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="allocatePaymentIn">
    <wsdl:part name="parameters" element="tns:allocatePayment" />
  </wsdl:message>
  <wsdl:message name="allocatePaymentOut">
    <wsdl:part name="parameters" element="tns:allocatePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="createAccountCodeIn">
    <wsdl:part name="parameters" element="tns:createAccountCode" />
  </wsdl:message>
  <wsdl:message name="createAccountCodeOut">
    <wsdl:part name="parameters" element="tns:createAccountCodeResponse" />
  </wsdl:message>
  <wsdl:message name="createBankAccountIn">
    <wsdl:part name="parameters" element="tns:createBankAccount" />
  </wsdl:message>
  <wsdl:message name="createBankAccountOut">
    <wsdl:part name="parameters" element="tns:createBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="addBankStatementLinesIn">
    <wsdl:part name="parameters" element="tns:addBankStatementLines" />
  </wsdl:message>
  <wsdl:message name="createEntityIn">
    <wsdl:part name="parameters" element="tns:createEntity" />
  </wsdl:message>
  <wsdl:message name="createEntityOut">
    <wsdl:part name="parameters" element="tns:createEntityResponse" />
  </wsdl:message>
  <wsdl:message name="createInvoiceIn">
    <wsdl:part name="parameters" element="tns:createInvoice" />
  </wsdl:message>
  <wsdl:message name="createInvoiceOut">
    <wsdl:part name="parameters" element="tns:createInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="createInvoicesIn">
    <wsdl:part name="parameters" element="tns:createInvoices" />
  </wsdl:message>
  <wsdl:message name="createInvoicesOut">
    <wsdl:part name="parameters" element="tns:createInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="createJournalIn">
    <wsdl:part name="parameters" element="tns:createJournal" />
  </wsdl:message>
  <wsdl:message name="createJournalOut">
    <wsdl:part name="parameters" element="tns:createJournalResponse" />
  </wsdl:message>
  <wsdl:message name="createPaymentIn">
    <wsdl:part name="parameters" element="tns:createPayment" />
  </wsdl:message>
  <wsdl:message name="createPaymentOut">
    <wsdl:part name="parameters" element="tns:createPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="createPaymentsIn">
    <wsdl:part name="parameters" element="tns:createPayments" />
  </wsdl:message>
  <wsdl:message name="createPaymentsOut">
    <wsdl:part name="parameters" element="tns:createPaymentsResponse" />
  </wsdl:message>
  <wsdl:message name="createProjectIn">
    <wsdl:part name="parameters" element="tns:createProject" />
  </wsdl:message>
  <wsdl:message name="createProjectOut">
    <wsdl:part name="parameters" element="tns:createProjectResponse" />
  </wsdl:message>
  <wsdl:message name="deleteEntityIn">
    <wsdl:part name="parameters" element="tns:deleteEntity" />
  </wsdl:message>
  <wsdl:message name="deleteEntityOut">
    <wsdl:part name="parameters" element="tns:deleteEntityResponse" />
  </wsdl:message>
  <wsdl:message name="deleteJournalIn">
    <wsdl:part name="parameters" element="tns:deleteJournal" />
  </wsdl:message>
  <wsdl:message name="deleteJournalOut">
    <wsdl:part name="parameters" element="tns:deleteJournalResponse" />
  </wsdl:message>
  <wsdl:message name="getExchangeRateIn">
    <wsdl:part name="parameters" element="tns:getExchangeRate" />
  </wsdl:message>
  <wsdl:message name="getExchangeRateOut">
    <wsdl:part name="parameters" element="tns:getExchangeRateResponse" />
  </wsdl:message>
  <wsdl:message name="getEntityIdFromExternalIdIn">
    <wsdl:part name="parameters" element="tns:getEntityIdFromExternalId" />
  </wsdl:message>
  <wsdl:message name="getEntityIdFromExternalIdOut">
    <wsdl:part name="parameters" element="tns:getEntityIdFromExternalIdResponse" />
  </wsdl:message>
  <wsdl:message name="getEntityOutstandingBalanceIn">
    <wsdl:part name="parameters" element="tns:getEntityOutstandingBalance" />
  </wsdl:message>
  <wsdl:message name="getEntityOutstandingBalanceOut">
    <wsdl:part name="parameters" element="tns:getEntityOutstandingBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="getInvoiceIdFromInvoiceNumberIn">
    <wsdl:part name="parameters" element="tns:getInvoiceIdFromInvoiceNumber" />
  </wsdl:message>
  <wsdl:message name="getInvoiceIdFromInvoiceNumberOut">
    <wsdl:part name="parameters" element="tns:getInvoiceIdFromInvoiceNumberResponse" />
  </wsdl:message>
  <wsdl:message name="getPaymentIdFromExternalIdIn">
    <wsdl:part name="parameters" element="tns:getPaymentIdFromExternalId" />
  </wsdl:message>
  <wsdl:message name="getPaymentIdFromExternalIdOut">
    <wsdl:part name="parameters" element="tns:getPaymentIdFromExternalIdResponse" />
  </wsdl:message>
  <wsdl:message name="listAccountCodeHeadingsIn">
    <wsdl:part name="parameters" element="tns:listAccountCodeHeadings" />
  </wsdl:message>
  <wsdl:message name="listAccountCodeHeadingsOut">
    <wsdl:part name="parameters" element="tns:listAccountCodeHeadingsResponse" />
  </wsdl:message>
  <wsdl:message name="listAccountCodesIn">
    <wsdl:part name="parameters" element="tns:listAccountCodes" />
  </wsdl:message>
  <wsdl:message name="listAccountCodesOut">
    <wsdl:part name="parameters" element="tns:listAccountCodesResponse" />
  </wsdl:message>
  <wsdl:message name="listBankAccountsIn">
    <wsdl:part name="parameters" element="tns:listBankAccounts" />
  </wsdl:message>
  <wsdl:message name="listBankAccountsOut">
    <wsdl:part name="parameters" element="tns:listBankAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="listCurrenciesIn">
    <wsdl:part name="parameters" element="tns:listCurrencies" />
  </wsdl:message>
  <wsdl:message name="listCurrenciesOut">
    <wsdl:part name="parameters" element="tns:listCurrenciesResponse" />
  </wsdl:message>
  <wsdl:message name="listEntitiesIn">
    <wsdl:part name="parameters" element="tns:listEntities" />
  </wsdl:message>
  <wsdl:message name="listEntitiesOut">
    <wsdl:part name="parameters" element="tns:listEntitiesResponse" />
  </wsdl:message>
  <wsdl:message name="listInvoicesIn">
    <wsdl:part name="parameters" element="tns:listInvoices" />
  </wsdl:message>
  <wsdl:message name="listInvoicesOut">
    <wsdl:part name="parameters" element="tns:listInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="listOutstandingBalancesIn">
    <wsdl:part name="parameters" element="tns:listOutstandingBalances" />
  </wsdl:message>
  <wsdl:message name="listOutstandingBalancesOut">
    <wsdl:part name="parameters" element="tns:listOutstandingBalancesResponse" />
  </wsdl:message>
  <wsdl:message name="listProjectsIn">
    <wsdl:part name="parameters" element="tns:listProjects" />
  </wsdl:message>
  <wsdl:message name="listProjectsOut">
    <wsdl:part name="parameters" element="tns:listProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="listThemesIn">
    <wsdl:part name="parameters" element="tns:listThemes" />
  </wsdl:message>
  <wsdl:message name="listThemesOut">
    <wsdl:part name="parameters" element="tns:listThemesResponse" />
  </wsdl:message>
  <wsdl:message name="updateAccountCodeIn">
    <wsdl:part name="parameters" element="tns:updateAccountCode" />
  </wsdl:message>
  <wsdl:message name="updateAccountCodeOut">
    <wsdl:part name="parameters" element="tns:updateAccountCodeResponse" />
  </wsdl:message>
  <wsdl:message name="updateEntityIn">
    <wsdl:part name="parameters" element="tns:updateEntity" />
  </wsdl:message>
  <wsdl:message name="updateEntityOut">
    <wsdl:part name="parameters" element="tns:updateEntityResponse" />
  </wsdl:message>
  <wsdl:message name="updateProjectIn">
    <wsdl:part name="parameters" element="tns:updateProject" />
  </wsdl:message>
  <wsdl:message name="updateProjectOut">
    <wsdl:part name="parameters" element="tns:updateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="voidInvoiceIn">
    <wsdl:part name="parameters" element="tns:voidInvoice" />
  </wsdl:message>
  <wsdl:message name="voidInvoiceOut">
    <wsdl:part name="parameters" element="tns:voidInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="voidPaymentIn">
    <wsdl:part name="parameters" element="tns:voidPayment" />
  </wsdl:message>
  <wsdl:message name="voidPaymentOut">
    <wsdl:part name="parameters" element="tns:voidPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="writeOffIn">
    <wsdl:part name="parameters" element="tns:writeOff" />
  </wsdl:message>
  <wsdl:message name="writeOffOut">
    <wsdl:part name="parameters" element="tns:writeOffResponse" />
  </wsdl:message>
  <wsdl:message name="writeOffPartialIn">
    <wsdl:part name="parameters" element="tns:writeOffPartial" />
  </wsdl:message>
  <wsdl:message name="writeOffPartialOut">
    <wsdl:part name="parameters" element="tns:writeOffPartialResponse" />
  </wsdl:message>
  <wsdl:message name="header">
    <wsdl:part name="authenticationHeader" element="tns:authenticate" />
  </wsdl:message>
  <wsdl:portType name="AccountingPort">
    <wsdl:operation name="allocatePayment">
      <documentation />
      <wsdl:input message="tns:allocatePaymentIn" />
      <wsdl:output message="tns:allocatePaymentOut" />
    </wsdl:operation>
    <wsdl:operation name="createAccountCode">
      <documentation />
      <wsdl:input message="tns:createAccountCodeIn" />
      <wsdl:output message="tns:createAccountCodeOut" />
    </wsdl:operation>
    <wsdl:operation name="createBankAccount">
      <documentation />
      <wsdl:input message="tns:createBankAccountIn" />
      <wsdl:output message="tns:createBankAccountOut" />
    </wsdl:operation>
    <wsdl:operation name="addBankStatementLines">
      <documentation />
      <wsdl:input message="tns:addBankStatementLinesIn" />
    </wsdl:operation>
    <wsdl:operation name="createEntity">
      <documentation />
      <wsdl:input message="tns:createEntityIn" />
      <wsdl:output message="tns:createEntityOut" />
    </wsdl:operation>
    <wsdl:operation name="createInvoice">
      <documentation />
      <wsdl:input message="tns:createInvoiceIn" />
      <wsdl:output message="tns:createInvoiceOut" />
    </wsdl:operation>
    <wsdl:operation name="createInvoices">
      <documentation />
      <wsdl:input message="tns:createInvoicesIn" />
      <wsdl:output message="tns:createInvoicesOut" />
    </wsdl:operation>
    <wsdl:operation name="createJournal">
      <documentation />
      <wsdl:input message="tns:createJournalIn" />
      <wsdl:output message="tns:createJournalOut" />
    </wsdl:operation>
    <wsdl:operation name="createPayment">
      <documentation />
      <wsdl:input message="tns:createPaymentIn" />
      <wsdl:output message="tns:createPaymentOut" />
    </wsdl:operation>
    <wsdl:operation name="createPayments">
      <documentation />
      <wsdl:input message="tns:createPaymentsIn" />
      <wsdl:output message="tns:createPaymentsOut" />
    </wsdl:operation>
    <wsdl:operation name="createProject">
      <documentation />
      <wsdl:input message="tns:createProjectIn" />
      <wsdl:output message="tns:createProjectOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteEntity">
      <documentation />
      <wsdl:input message="tns:deleteEntityIn" />
      <wsdl:output message="tns:deleteEntityOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteJournal">
      <documentation />
      <wsdl:input message="tns:deleteJournalIn" />
      <wsdl:output message="tns:deleteJournalOut" />
    </wsdl:operation>
    <wsdl:operation name="getExchangeRate">
      <documentation />
      <wsdl:input message="tns:getExchangeRateIn" />
      <wsdl:output message="tns:getExchangeRateOut" />
    </wsdl:operation>
    <wsdl:operation name="getEntityIdFromExternalId">
      <documentation />
      <wsdl:input message="tns:getEntityIdFromExternalIdIn" />
      <wsdl:output message="tns:getEntityIdFromExternalIdOut" />
    </wsdl:operation>
    <wsdl:operation name="getEntityOutstandingBalance">
      <documentation />
      <wsdl:input message="tns:getEntityOutstandingBalanceIn" />
      <wsdl:output message="tns:getEntityOutstandingBalanceOut" />
    </wsdl:operation>
    <wsdl:operation name="getInvoiceIdFromInvoiceNumber">
      <documentation />
      <wsdl:input message="tns:getInvoiceIdFromInvoiceNumberIn" />
      <wsdl:output message="tns:getInvoiceIdFromInvoiceNumberOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentIdFromExternalId">
      <documentation />
      <wsdl:input message="tns:getPaymentIdFromExternalIdIn" />
      <wsdl:output message="tns:getPaymentIdFromExternalIdOut" />
    </wsdl:operation>
    <wsdl:operation name="listAccountCodeHeadings">
      <documentation />
      <wsdl:input message="tns:listAccountCodeHeadingsIn" />
      <wsdl:output message="tns:listAccountCodeHeadingsOut" />
    </wsdl:operation>
    <wsdl:operation name="listAccountCodes">
      <documentation />
      <wsdl:input message="tns:listAccountCodesIn" />
      <wsdl:output message="tns:listAccountCodesOut" />
    </wsdl:operation>
    <wsdl:operation name="listBankAccounts">
      <documentation />
      <wsdl:input message="tns:listBankAccountsIn" />
      <wsdl:output message="tns:listBankAccountsOut" />
    </wsdl:operation>
    <wsdl:operation name="listCurrencies">
      <documentation />
      <wsdl:input message="tns:listCurrenciesIn" />
      <wsdl:output message="tns:listCurrenciesOut" />
    </wsdl:operation>
    <wsdl:operation name="listEntities">
      <documentation />
      <wsdl:input message="tns:listEntitiesIn" />
      <wsdl:output message="tns:listEntitiesOut" />
    </wsdl:operation>
    <wsdl:operation name="listInvoices">
      <documentation />
      <wsdl:input message="tns:listInvoicesIn" />
      <wsdl:output message="tns:listInvoicesOut" />
    </wsdl:operation>
    <wsdl:operation name="listOutstandingBalances">
      <documentation />
      <wsdl:input message="tns:listOutstandingBalancesIn" />
      <wsdl:output message="tns:listOutstandingBalancesOut" />
    </wsdl:operation>
    <wsdl:operation name="listProjects">
      <documentation />
      <wsdl:input message="tns:listProjectsIn" />
      <wsdl:output message="tns:listProjectsOut" />
    </wsdl:operation>
    <wsdl:operation name="listThemes">
      <documentation />
      <wsdl:input message="tns:listThemesIn" />
      <wsdl:output message="tns:listThemesOut" />
    </wsdl:operation>
    <wsdl:operation name="updateAccountCode">
      <documentation />
      <wsdl:input message="tns:updateAccountCodeIn" />
      <wsdl:output message="tns:updateAccountCodeOut" />
    </wsdl:operation>
    <wsdl:operation name="updateEntity">
      <documentation />
      <wsdl:input message="tns:updateEntityIn" />
      <wsdl:output message="tns:updateEntityOut" />
    </wsdl:operation>
    <wsdl:operation name="updateProject">
      <documentation />
      <wsdl:input message="tns:updateProjectIn" />
      <wsdl:output message="tns:updateProjectOut" />
    </wsdl:operation>
    <wsdl:operation name="voidInvoice">
      <documentation />
      <wsdl:input message="tns:voidInvoiceIn" />
      <wsdl:output message="tns:voidInvoiceOut" />
    </wsdl:operation>
    <wsdl:operation name="voidPayment">
      <documentation />
      <wsdl:input message="tns:voidPaymentIn" />
      <wsdl:output message="tns:voidPaymentOut" />
    </wsdl:operation>
    <wsdl:operation name="writeOff">
      <documentation />
      <wsdl:input message="tns:writeOffIn" />
      <wsdl:output message="tns:writeOffOut" />
    </wsdl:operation>
    <wsdl:operation name="writeOffPartial">
      <documentation />
      <wsdl:input message="tns:writeOffPartialIn" />
      <wsdl:output message="tns:writeOffPartialOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountingBinding" type="tns:AccountingPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="allocatePayment">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#allocatePayment" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAccountCode">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#createAccountCode" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBankAccount">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#createBankAccount" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBankStatementLines">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#addBankStatementLines" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createEntity">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#createEntity" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createInvoice">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#createInvoice" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createInvoices">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#createInvoices" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createJournal">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#createJournal" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPayment">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#createPayment" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPayments">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#createPayments" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createProject">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#createProject" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEntity">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#deleteEntity" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteJournal">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#deleteJournal" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExchangeRate">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#getExchangeRate" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntityIdFromExternalId">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#getEntityIdFromExternalId" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntityOutstandingBalance">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#getEntityOutstandingBalance" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvoiceIdFromInvoiceNumber">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#getInvoiceIdFromInvoiceNumber" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentIdFromExternalId">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#getPaymentIdFromExternalId" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listAccountCodeHeadings">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#listAccountCodeHeadings" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listAccountCodes">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#listAccountCodes" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listBankAccounts">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#listBankAccounts" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listCurrencies">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#listCurrencies" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listEntities">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#listEntities" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listInvoices">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#listInvoices" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listOutstandingBalances">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#listOutstandingBalances" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listProjects">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#listProjects" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listThemes">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#listThemes" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAccountCode">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#updateAccountCode" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEntity">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#updateEntity" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProject">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#updateProject" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="voidInvoice">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#voidInvoice" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="voidPayment">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#voidPayment" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="writeOff">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#writeOff" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="writeOffPartial">
      <soap:operation soapAction="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1#writeOffPartial" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:header" part="authenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountingService">
    <wsdl:port name="AccountingPort" binding="tns:AccountingBinding">
      <soap:address location="https://secure.clearbooks.co.uk/api/accounting/soap/?consumer=WS-I-1.1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>